.circuitos{
    margin: 100px 0px;
    padding: 10px 250px;
    background-color: ghostwhite;
}

.circuitos h3{
    font-size: 24px;
    color: darkmagenta;
}


.circuitos ul a{
    text-decoration: none;
    font-size: 20px;
    color: darkorchid;
}
.circuitos ul a:hover{
    color: brown;
    background-color: gainsboro;
}